@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}


.navbar-start {
    background: #ff7f7e;
    padding: 10px 10px;
}

.nav-link {
    color: #fff;
    font-size: 20px;
}

.navbar-nav {
    padding-left: 300px;
    padding-right: 300px;
}

#nav-link-color {
    color: #fff;
    padding: 15px 15px;
    font-weight: bold;
}

.btn {
    color: #fff;
    background: #000;
}

.btn:hover {
    background: #ff7f7e;
}

